! Configuration File for keepalived

global_defs {
   router_id {{ keepalived_router_id }}
}

vrrp_script chk_haproxy {
        script "/etc/keepalived/scripts/chk_haproxy.sh"
        interval 2
        weight -5
        fall 3
        rise 1
}
vrrp_instance VI_1 {
    state MASTER
    interface {{ ansible_default_ipv4.alias }}
    unicast_src_ip  {{ keepalived_master_ip }}
    unicast_peer {
                  {{ keepalived_backup_ip }}
                }

    virtual_router_id 230
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ loadbance_ip }}/24
    }
    track_script {
        chk_haproxy
    }
    notify_master "/etc/keepalived/scripts/notify.sh master"
    notify_backup "/etc/keepalived/scripts/notify.sh backup"
    notify_fault "/etc/keepalived/scripts/notify.sh fault"
}
